/frontend/node_modules/
/frontend/build/
/frontend/.env
/frontend/.parcel-cache/
/frontend/.pnp.cjs
/frontend/.pnp.loader.mjs
/frontend/.next/
/frontend/out/
/frontend/dist/
/frontend/.cache/
frontend/.vscode/
/frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.eslintcache

# Spring Boot / Java

/backend/target/
/backend/.classpath
/backend/.project
/backend/.settings/
/backend/.idea/
/backend/*.iml
/backend/*.ipr
/backend/*.iws
/backend/logs/
/backend/*.log
/backend/out/
/backend/build/
backend/.mvn/wrapper/maven-wrapper.jar

# Generic

*.class
*.jar
*.war
*.ear
*.db
*.DS_Store
*.log
*.tmp
*.swp
*.swo
*.bak
*.orig
*.rej

# Eclipse

/.classpath
/.project
/.settings/

# IntelliJ IDEA

/.idea/
*.iml
*.iws

# VS Code

.vscode/
*.code-workspace

# OS

Thumbs.db
ehthumbs.db
.DS_Store
~$*
*.tmp
*.swp

# Optional environment files

*.env
